@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
    font-family: "Tajawal" , sans-serif;
}

body {
    direction: rtl;
    position: relative;
}

/* Carousel */
.carousel {
    z-index: 1;
}

.carousel-item img {
    height: 100vh;
}

.carousel-indicators button {
    width: 20px!important;
    height: 20px!important;
    border-radius: 50%!important;
}

.carousel-indicators button:hover {
    background-color: #0dcaf0!important;
}

.carousel-desc {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(40, 151, 230, 0.4);
    border-radius: 20px;
    bottom: 10%;
    transition: all ease 0.7s;
}

.carousel-desc:hover {
    background-color: rgba(27, 114, 175, 0.4);
}

.btn-dark:hover ,
.btn-info:hover {
    background-color: crimson;
    border-radius: 20px;
    transition: all ease 0.7s;
}

/* Form */

.btn-form {
    width: 200px;
}

/* Products */

.section-title {
    border-bottom: 4px solid crimson;
} 

.card {
    overflow: hidden;
}

.card img {
    width: 150px;
    height: 200px;
    margin: 0 auto;
}

.card img:hover {
    transform: scale(1.1);
    transition: all ease 0.7s;
}

.stat-icon i:hover {
    color: crimson;
    border-radius: 20px;
    transition: all ease 0.7s;
    cursor: pointer;
}

/* Contact */

.contact {
    height: 60vh;
    /* margin-top: 15px ; */
    background: url(../Images/contact.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
}

.contact-btn {
    width: 150px;
    border-radius: 20px 0px 0px 20px!important;
}

/* Best Selling */

.best-selling img {
    height: 110px;
}

.best-selling img:hover {
    transform: rotate(5deg) scale(1.1);
    transition: all ease 0.7s;
}

/* Footer */

footer a i:hover {
    color: crimson;
}

/* Offcanvas */

.z-index-lg {
    z-index: 10;
}

.offcanvas-header .btn-close {
    margin-left: 0;
    margin-right: auto;
}

.offcan-img {
    width: 200px!important;
    height: 250px!important;
}

.offcan-img:hover {
    transform: skew(-5deg);
    transition: ease all 1s;
}

.offcan-productdetails {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 10px;
    z-index: 2000;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.offcan-productdetails img {
    width: 175px;
    height: 200px;
}

.offcan-productdetails span {
    display: block;
    margin-bottom: 10px;
}

.offcan-productdetails .close {
    width: 20%;
    margin-right: auto;
    margin-left: 10px;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 204, 255); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: red;
}

